# =====================================================================
# IMPORTANT: After entering your settings, 
# rename this file from ".env.example" to ".env"
# =====================================================================

PROXY_URL=http://user:pass@ip:port
HEADLESS=true
USER_AGENT_ROTATION=true
REQUEST_TIMEOUT=10